* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;

}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}


.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}



.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.gap-24 {
    gap: 24px;
}

.d-flex {
    display: flex;
}

nav {
    padding-top: 20px;
}

.bg-image {
    background-image: url(../image/png/background\ image\ blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 810px;

}

@font-face {
    font-family: Helvetica;
    @import url(../Helvetica);
}

.position-relative {
    position: relative;
}

.about {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: rgba(255, 255, 255, 1);


}

.float-right {
    float: right;
}

.btn-1 {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 20px;
    background: var(--White, rgba(255, 255, 255, 1));
    border: 2px solid rgba(255, 255, 255, 1);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: var(--Deep-Blue, rgba(0, 23, 31, 1));

}

.heading-1 {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    color: rgba(255, 255, 255);
    padding-top: 100px;
}

.text-modify {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    color: var(--White, rgba(255, 255, 255, 1));
    padding-top: 100px;
}

.paragraph-1 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--White, rgba(255, 255, 255, 1));
    padding-top: 20px;
}

.btn-2 {
    border: 1px solid rgba(203, 203, 203);
    width: 476px;
    height: 66px;
    padding: 9px 9px 9px 22px;
    border-radius: 0px 100px 100px 20px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    color: rgba(127, 139, 143);
    text-align: left;
    margin-top: 30px;

}

.btn-3 {
    border-radius: 0px 50px 50px 20px;
    border: 1px solid rgba(0, 168, 232, 1);
    background-color: rgba(0, 168, 232, 1);
    width: 137px;
    height: 48px;
    color: var(--White, rgba(255, 255, 255, 1));
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 304px;
    top: 40px;

}


.devolepmant-image {
    margin-top: 100px;
    z-index: 1;
}

.more-than {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    color: var(--Prussian-Blue, rgba(0, 52, 89, 1));
    margin-top: 280px;

}

.text-modify-1 {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 700;
    line-height: 41.8px;
    color: rgba(0, 168, 232);
}

.icon {
    position: absolute;
    top: 49px;
    left: 438px;
}

.mb-24 {
    margin-bottom: 24px;
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width:992px) {
    label[for="list"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 9999;
    }

    label[for="list"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 2px;
    }

    input#list:checked~.ul-modify {
        background-color: black;
        left: 0;
    }

    input:checked~label[for="list"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="list"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="list"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }

    .ul-modify {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        transition: all 200ms linear;
    }

}